@using Services.Model
@model IEnumerable<Item>
@{
    ViewBag.Title = "#ltnet - Programuotojų naujienos, nuorodos ir straipsniai viename puslapyje";
    Layout = "../Shared/_Layout.cshtml";
}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">#ltnet</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li class=""><a href="@Url.Action("Index", "Home")">Visi</a> </li>
                    <li class=""><a href="@Url.Action("Index", "Home", new { type = "rss" })">Rss</a></li>
                    <li class=""><a href="@Url.Action("Index", "Home", new { type = "twitter" })">Twitter</a></li>
                </ul>
                <ul class="nav pull-right">
                    <li><a href="/"><sub>by dotnetgroup.lt</sub></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div style="height: 50px">
    </div>
    <table class="table">
        @foreach (var item in Model)
        {
            <tr>
                <td style="width: 50px">
                    <img alt="Author Image" src="@(item.AuthorImage ?? "http://placehold.it/48x48")" />
                </td>
                <td>
                    <h3>@Html.Raw(item.Title)</h3>
                    <div>
                        @if (item.ItemType == ItemType.Rss)
                        {
                            <span class="label label-warning">RSS</span> 
                        }
                        else if (item.ItemType == ItemType.Twitter)
                        {
                            <span class="label label-info">Twitter</span>
                        }
                        <a href="@item.AuthorUri">@item.AuthorName</a> | @item.Published | @String.Join(", ", @item.Tags)
                    </div>
                    @Html.Raw(item.Content)
                </td>
                <td>
                    <a href="@item.Url" title="Originalas" target="_blank"><i class="icon-share-alt"></i>
                    </a>
                </td>
            </tr>
        }
    </table>
</div>
