<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@(ViewBag.Title ?? "DotNetGroup")</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    @Styles.Render("~/public/static/css")
    @Styles.Render("~/public/static/less")
    @Scripts.Render("~/public/static/js")

    @{ Html.RenderPartial("GoogleAnalytics"); }
</head>
<body>
    <div id="spinner"></div>
    @RenderBody()
</body>
@{ Html.RenderPartial("UserVoice"); }
</html>
